<h2>Latest posts:</h2>
<br />
<% @posts.each do |post| %>
	<p>
		<%= post['creator'] %> написал <%= post['created_at'] %>
		<br />
		"<%= post['title'] %>"
		<br />
		Added at <%= post['body'] %>
		<br />
		<br />
		<a href="/details/<%= post['id'] %>">Comments</a>
	</p>
	<hr />
<% end %>
